<!DOCTYPE HTML>
<html>
<head>  
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" 
			integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" 
			crossorigin="anonymous">
	</script>
	<script src="https://momentjs.com/downloads/moment.min.js">
	</script>
	<script>
var webSocket = io();
webSocket.on('refresh', (data) => {
	location.reload(true);
});

window.onload = function () {
	
	var chart = new CanvasJS.Chart("chartContainer", {
		theme: "light2", 
		title:{
			text: "El Priser (kr./kWh)"
		},
		axisY: {
		// 	title: "Priser"
	// 	stripLines: [{
        
    //     labelPlacement: "inside",
    //     labelAlign: "far",
    //     value: 2.6
	// 	// label: 'average'
    // }]
			interval: 1/2,
			minimum: 0,
			labelPlacement: "inside",
			// tickPlacement: "inside",

			// interlacedColor: "#F8F1E4"
		},
		axisX: {
			// title: "Hours",
			labelAngle: -45,
			interval: 2

	// 	stripLines: [{
    //     value: Date.now() / 1000,
		
	// 		lineDashType: "dash",
    // }]
		},
		data: [{        
			type: "column",
			fillOpacity: 0.8,
			indexLabelPlacement: "outside",
			indexLabelOrientation: "horizontal",  
			// showInLegend: true, 
			// legendMarkerColor: "grey",
			// legendText: "MMbbl = one million barrels",
			dataPoints: [{% for value in values %}
			{
				y: {{ value.y }}, 
				// x: {{ value.x }}, 
				// indexLabel: "{{ '' if loop.index % 2 == 1 else '%.1f' | format(value.y) }}", 
				label: "{{ value.label  }}", 
				color: "{{ 'SteelBlue' if value.highlight else 'LightSteelBlue' }}"
			},
		{% endfor %}]
		}
	]
	});
	chart.render();

	// now = new Date()
	// document.getElementById("refreshed_at").innerHTML = 'Last refreshed at: ' + moment().format('DD-MM-YYYY HH:mm');;
}
</script>
</head>
<body>
	<div style="height: 800px; width: 480px; border: solid 1px lightgray;">
		<div id="chartContainer" style="height: 400px; width: 100%;"></div>
		<!-- <span id="refreshed_at" style=""></span> -->
	</div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>